body{
    background-color: rgb(216, 193, 236);
    text-align: center;
    margin: auto;
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
a{
    display: block;
    padding: 8px;
    background-color: bisque;
}
img{
    width: 500px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

nav li a.active {
  background-color: #4CAF50; /* Highlights the current page */
}
