header {
  background-color: #008000;
  color: white;
  padding: 1rem;
  text-align: center;

}

footer {
  background-color: #008000;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

footer {
  margin-top: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  background-color: #008000;
  margin: 0;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

body.dark-mode {
  background-color: #671515;
  color: #ffffff;

}

.inline-container {
  display: flex;
  align-items: center; 
  margin-right: 30%;
}

.inline-container img {
  margin-right: 50px; 
  max-width: 600px; 
  height: auto;
  border-radius: 100%;
}

.contact-container {
  max-width: 600px;
  padding: 20px;
  margin-left: 0 auto;
  background-color: #def6e1;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

#contactForm button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin:auto;
  width: 30%;
}

#formMessage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0f3e0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#formMessage.show{
  display: flex;
}

.popup-box {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  max-width: 300px; 
  box-shadow: 0 4px 8px #00000033;
;

}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  color: #b7e6b7;
  cursor: pointer;
}

.close-btn:hover {
  color: #4CAF50;
}

.popup-overlay {
    display: none;
}

.popup-overlay.show {
    display: flex;
}

body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: #121212;
    color: #f2f2f2;
}
